@import '../../style/variables';

h2 {
  margin-top: 0;
}

.Skills {
  ul {
    margin: 0;
    li {
      display: flex;
      list-style-type: none;
      svg {
        color: color(primary, 500);
        margin-right: space(3);
      }
    }
  }
}

.SkillsButton {
  margin-top: space(3);
  background: none;
  border-radius: 4px;
  border: 2px solid color(grey, 0);
  color: color(grey, 0);
  padding: space(3);
  width: 100%;
  transition: 150ms;

  &:hover {
    cursor: pointer;
    background: rgba(color(primary, 500), 0.1);
    color: color(primary, 400);
    border: 2px solid color(primary, 500);
  }
}
